-// Copyright (C) 2020 eth-p
include image

mixin profile-detail(icon)
		+image(icon)(title=attributes.alt, alt=attributes.alt).icon
		span.value&attributes(Object.assign(attributes, {title: attributes.alt, alt:null}))
			block

mixin profile-github(info)
	+profile-detail(assets.icon_github)(alt='Github')
		a(href=`https://github.com/${info.github}`)=info.github
				
mixin profile(info)
	div.profile(vocab="http://schema.org/" typeof="Person")
		div.contents
			div.about
				-// Profile Summary:
				-// - Name
				-// - Occupation Title
				div.summary
					div(property="name")=info.name
					if info.occupation != null
						div(property="occupation")=info.occupation.title
				
				-// Profile Details:
				-// - Contact Info
				-// - Personal Info
				div.details
					div.spacer
					div.details-grid
						
						if info.phone != null
							+profile-detail(assets.icon_phone)(alt='Phone')
								a(property="phone" href=`tel:${info.phone.replace(/[^+\d]/g, '')}`)=info.phone
		
						if info.email != null
							+profile-detail(assets.icon_email)(alt='Email')
								a(property="email" href=`mailto:${info.email}`)=info.email
	
						if info.birthday != null
							+profile-detail(assets.icon_birthday)(alt='Birthday')
								span(property="birthDate")=info.birthday
						else if info.github != null
							+profile-github(info)
						
						if info.address != null
							+profile-detail(assets.icon_address, info.address)(alt='Address')
								span(property="address")=info.address

						if info.birthday != null && info.github != null
							+profile-github(info)
						
						for entry in info.links == null ? [] : Object.entries(info.links)
							- const link = entry[1]
							- const name = link.name == null ? entry[0] : link.name

							+profile-detail(link.icon)(alt=name)
								a(href=link.href)=(link.text == null ? link.href : link.text)
						
					div.spacer
				block

			-// Profile Photo
			div.spacer
			if info.photo != null
				+image(info.photo)(property="image" alt=`${info.name}'s picture.`)

